---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About me";
const identity = {
  firstName: "Matt",
  country: "UK",
  occupation: "Designer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
---
<BaseLayout pageTitle={pageTitle}>

<p>I'm a designer and artist based in Manchester. I work at High Speed Training as lead UX designer. Previously, I was lead UX designer at AO.com and head of product and design at Mumsnet.</p>

<p>I curate UX Lift, a website and newsletter highlighting the best new UX news, articles and resources and am in the process of building Rdrs, a social ebook reading app.</p>
      
      
</BaseLayout>
