---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>

<p>I'm a designer and maker of (mostly digital) things based in Manchester. I work at High Speed Training as lead UX designer. Previously, I was lead UX designer at AO.com and head of product and design at Mumsnet.</p>

<p>My focus is on design leadership and innovation, building and leading creative teams and exploring the crossover between design, business and tech, understanding how new technologies can be used creatively to solve real needs.</p>

<p>Outside of work I edit <a href="https://www.uxlift.org" target="_blank">UX Lift</a>, a website and <a href="https://uxlift.beehiiv.com" target="_blank">newsletter</a> featuring UX news, articles and resources. I'm also in the process of building <a href="https://www.rdrs.app" target="_blank">Rdrs</a>, a cross-platform social reading app.</p>



<h4>Colophon</h4>
<p>This site is built with Astro and hosted on Netlify. The fonts are Geist Sans and Geist Mono.</p>      
</BaseLayout>
