---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>

<p>I'm a designer and maker of (mostly digital) things based in Manchester. I work at High Speed Training as lead UX designer. Previously, I was lead UX designer at AO.com and head of product and design at Mumsnet.</p>

<p>I'm interested in the crossover between design, creativity, business and technology, exploring how new technologies can be used creatively and to solve real needs.</p>

<p>Outside of work, I edit <a href="https://www.uxlift.org" target="_blank">https://www.uxlift.org</a>, a website and <a href="https://uxlift.beehiiv.com" target="_blank">newsletter</a> highlighting the best new UX news, articles and resource. I'm also in the process of building <a href="https://www.rdrs.app" target="_blank">Rdrs</a>, a cross-platform social reading app.</p>



<h4>Colophon</h4>
<p>This site is built with Astro and hosted on Cloudflare. The fonts are Geist Sans and Geist Mono.</p>      
</BaseLayout>
