---
import Social from './Social.astro';
---


<footer class="max-w-2xl mx-auto flex justify-between text-sm border-t mt-4 pt-4">
  <p>2025 Matt Kevan</p>
  <div class="flex gap-4">
    <p>Bluesky</p>
    <p>Github</p>
  </div>
  
</footer>