---
import Social from './Social.astro';
---


<footer class="max-w-3xl mx-auto flex justify-between text-sm mt-4 p-4">
  <p>Made in Manchester by <span class="font-bold">Matt Kevan</span>.</p>
  <div class="flex gap-4">
    <p><a href="https://bsky.app/profile/kevan.tv" class="hover:underline" target="_blank">Bluesky</a></p>
    <p><a href="https://github.com/MattKevan/" class="hover:underline" target="_blank">Github</a></p>
  </div>
  
</footer>